Repository evilmartians/evil_chat: changes, and which lefthook commands are due for each by the changed paths.
All: js, css

js:
  run: yarn prettier --write {staged_files} && yarn eslint {staged_files} && git add {staged_files}

css:
  run: yarn prettier --write {staged_files} && yarn stylelint --fix {staged_files} && git add {staged_files}

Removes unused code
  frontend/packs/application.js
  frontend/packs/application.pcss
Due: js, css

Adds init scripts and styles
  frontend/init/index.js
  frontend/init/index.pcss
  frontend/packs/application.js
Due: js, css

Adds `normalize.css` to init styles
  frontend/init/index.pcss
  package.json
  yarn.lock
Due: css

Adds `page` component
  frontend/components/page/_page.html.erb
  frontend/components/page/page.js
  frontend/components/page/page.pcss
  frontend/packs/application.js
Due: js, css

Adds smoke test for `page` component
  app/views/pages/home.html.erb
Due: none

Adds `component` helper
  app/helpers/application_helper.rb
Due: none

Adds smoke test for `component` helper
  app/views/pages/home.html.erb
Due: none

Removes unused code
  app/controllers/pages_controller.rb
  app/views/pages/home.html.erb
  config/routes.rb
Due: none

Generates `auth` and `chat` controllers
  app/controllers/auth_controller.rb
  app/controllers/chat_controller.rb
Due: none

Adds `auth` and `chat` controllers to routes
  config/routes.rb
Due: none

Adds `new` and `create` actions to `auth` controller
  app/controllers/auth_controller.rb
Due: none

Adds view for the `auth#new` action
  app/views/auth/new.html.erb
Due: none

Installs and configures `postcss-nested`
  package.json
  postcss.config.js
  yarn.lock
Due: js

Adds `auth-form` component
  frontend/components/auth-form/_auth-form.html.erb
  frontend/components/auth-form/auth-form.js
  frontend/components/auth-form/auth-form.pcss
  frontend/packs/application.js
Due: js, css

Adds `message` model
  app/models/message.rb
  db/migrate/20190711130834_create_messages.rb
  db/schema.rb
Due: none

Adds `show` action to `chat` controller
  app/controllers/chat_controller.rb
Due: none

Adds view for `chat#show`
  app/views/chat/show.html.erb
Due: none

Adds `chat`, `message-form`, `messages` and `message` components
  frontend/components/chat/_chat.html.erb
  frontend/components/chat/chat.js
  frontend/components/chat/chat.pcss
  frontend/components/message-form/_message-form.html.erb
  frontend/components/message-form/message-form.js
  frontend/components/message-form/message-form.pcss
  frontend/components/message/_message.html.erb
  frontend/components/message/message.js
  frontend/components/message/message.pcss
  frontend/components/messages/_messages.html.erb
  frontend/components/messages/messages.js
  frontend/components/messages/messages.pcss
  frontend/packs/application.js
Due: js, css

Adds `component` generator
  lib/generators/component_generator.rb
Due: none

Adds `chat` channel
  app/channels/chat_channel.rb
Due: none

Adds authentication to channels
  app/channels/application_cable/connection.rb
Due: none

Adds business logic to `chat` channel
  app/channels/chat_channel.rb
Due: none

Installs and configures `actioncable`
  frontend/client/cable.js
  package.json
  yarn.lock
Due: js

Adds `chat` channel client
  frontend/client/chat.js
Due: js

Adds sending message to `message-form`
  frontend/components/message-form/message-form.js
Due: js

Adds handling of new messages
  frontend/components/messages/messages.js
Due: js

Adds `Procfile.dev` for local development and configure `Procfile` to working on Heroku
  Procfile
  Procfile.dev
Due: none

Installs `redis`
  Gemfile
  Gemfile.lock
Due: none

Enables master key checking in production environment
  config/environments/production.rb
Due: none

Installs and configures `postcss-inline-svg`
  package.json
  postcss.config.js
  yarn.lock
Due: js

Adds icon to `auth-form`
  frontend/components/auth-form/_auth-form.html.erb
  frontend/components/auth-form/auth-form.pcss
  frontend/components/auth-form/static/icon.svg
Due: css

Adds icon to `message-form`
  frontend/components/message-form/_message-form.html.erb
  frontend/components/message-form/message-form.pcss
  frontend/components/message-form/static/icon.svg
Due: css

Adds additional instructions to `README.md`
  README.md
Due: none

Update package.json
  package.json
Due: none

Update `yarn.lock`
  yarn.lock
Due: none

chore: add Docker for development
  .docker/.psqlrc
  .pryrc
  Dockerfile
  Gemfile
  Gemfile.lock
  bin/setup
  dip.yml
  docker-compose.yml
  docs/development/dip.md
  docs/development/docker.md
Due: none

chore: update docker configs
  Dockerfile
  Gemfile
  docker-compose.yml
  docs/development/docker.md
Due: none

feat: use AnyCable
  Gemfile
  Gemfile.lock
  app/channels/application_cable/connection.rb
  app/views/layouts/application.html.erb
  config/application.rb
  config/cable.yml
  config/environments/development.rb
  docker-compose.yml
Due: none

chore: prepare Heroku deployment
  Procfile
  bin/heroku-web
  config/environments/production.rb
  config/master.key.back
Due: none

chore: make action cable enabled by default
  config/application.rb
  config/cable.yml
  docker-compose.yml
Due: none

Path conditions:
  js: any of: *.js
  css: any of: *.{css,pcss}
